.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.mid-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 1150px) {
  .card-container {
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 40px;
  }
}
