.hero-container {
  width: 540px;
  height: 168px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #4d4f62;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.motto {
  text-align: center;
}

span {
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.25px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

p {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 25px;
}
