.hero-container {
  width: 540px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #4d4f62;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.motto {
  text-align: center;
}

span {
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.25px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

p {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 25px;
}

@media screen and (max-width: 660px) {
  .hero-container {
    width: 311px;
    height: 161px;
    padding: auto;
    margin-top: 50px;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.25px;
  }
  span {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.25px;
  }
}
