.hero-container {
  width: 540px;
  height: 168px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.motto {
  text-align: center;
}
